---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mike Key | Content Creator & Real Estate Investor">
	<main class="container">
		<header aria-label="quick summary">
			<img class="avatar" src="/img/Mike-Key-Profile-Pic-Master-Banner_07-11-2023_001.webp" alt="Mike's Handsome Face">
			<h1>Mike Key</h1>
			<h2></h2>
		</header>
		<article class="socials" aria-label="social media links">
			<div class="social-media">
				<img src="/img/contact_qrcode.webp">
			</div>
		</article>
	</main>
</Layout>