<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        
        <meta name="description" content="{{ site.description }}" />

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="HandheldFriendly" content="True" />

        
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
        <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
        <link rel="prefetch" href="{{ site.url }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <!-- DEV CSS -->
        <link rel="stylesheet" href="{{ "custom.css" | prepend: site.baseurl }}">

   </head>
<body class="animated fade-in-down">
    <div class="container">
        <div class="row">
            <div class="column" style="margin-top: 10%">
                <img alt="LittleLink Logo" class="avatar" src="https://avatars.githubusercontent.com/u/6597660?v=4" srcset="images/avatar@2x.png 2x">
                <h1>Mike Key</h1>
                <h2>Howdy, I'm Mike Key</h2>
                <p>Formerly Enslaved 9 to 5 front end developer, turned full-time Real Estate Investor. I buy cash, flip & fix, long term rentals and AirB&B. I'll also do gator lending for the right folks. Let's partner today.<br>
                Mainsite: <a href="https://mk3y.com" rel="noopener" target="_blank">MK3Y.com</a> 😊</p><!-- Facebook -->
                 <a class="button button-faceb" href="https://www.facebook.com/justmikekey" rel="noopener" target="_blank"><img alt="Facebook Logo" class="icon" src="images/icons/facebook.svg">Find me on Facebook</a><br>

                <!-- LinkedIn -->
                 <a class="button button-linked" href="https://www.linkedin.com/in/1337hero/" rel="noopener" target="_blank"><img alt="LinkedIn Logo" class="icon" src="images/icons/linkedin.svg">LinkedIn</a><br>

                <!-- Instagram -->
                 <a class="button button-instagram" href="https://www.instagram.com/justmikekey/" rel="noopener" target="_blank"><img alt="Instagram Logo" class="icon" src="images/icons/instagram.svg">Instagram</a><br>

                <!-- GitHub -->
                 <a class="button button-github" href="https://github.com/1337hero" rel="noopener" target="_blank"><img alt="GitHub Logo" class="icon" src="images/icons/github.svg">GitHub</a><br>

            </div>
        </div>
    </div>
        
</body>
</html>